body {
    background-color: #1f1f1f;
    overflow: hidden;
}

* {
    user-select: none;
    color: white;
    font-family: "Times New Roman", Times, serif;
}

/* #region langService */
#language_preview {
    background-color: gainsboro;
    border-radius: 5vmin;
    height: 5vmin;
    aspect-ratio: 1;
    position: fixed;
    right: 1vmin;
    top: 1vmin;
    overflow: hidden;
    transition: height .3s, border-radius .3s;
    z-index: 5;
}

#language_preview:hover {
    height: 20vmin;
    border-radius: 5vmin 0 0 5vmin;
    transition: height .3s, border-radius .3s;
    overflow-y: auto;
    background-image: none !important;
}

/* width */
#language_preview:hover::-webkit-scrollbar {
    width: 3px;
}

/* Track */
#language_preview:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#language_preview:hover::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
#language_preview:hover::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#language_preview .language_option {
    visibility: hidden;
}

#language_preview:hover .language_option {
    visibility: visible;
}

.language_option {
    height: 4vmin;
    aspect-ratio: 1;
    border-radius: 100%;
    background-size: cover;
    margin: .4vmin;
}

.language_option:hover {
    cursor: pointer;
}

/* #endregion */

/* #region Scroll */
#ruller {
    width: 3vmin;
    height: 200vmin;
    position: fixed;
    left: 0;
}

#ruller #up {
    background-color: rgb(0, 102, 255);
    width: 8vmin;
    height: 95vmin;
    position: relative;
    border-radius: 0 0 40px 0;
}

#ruller #down {
    background-color: rgb(0, 102, 255);
    width: 8vmin;
    height: 95vmin;
    position: relative;
    border-radius: 0 40px 0 0;
    top: 5vmin;
}

#buttons {
    width: 8vmin;
    height: 100vmin;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
}

.rullerButton {
    width: 8vmin;
    aspect-ratio: 1;
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #101222 !important;
    z-index: 4;
}

.rullerButton:hover {
    cursor: pointer;
}

.rullerButton.active {
    color: rgb(0, 102, 255) !important;
    font-weight: bold;
}

/* #endregion */

/* #region Page 1 */

#mainTitle {
    display: block;
    margin: 10vmin 0 5vmin 15vmin;
    font-size: 6vmin;
    width: 135vmin
}

#imageFrame {
    height: 60vmin;
    width: 40vmin;
    background-color: white;
    position: absolute;
    top: 10vmin;
    right: 5vmin;
    background-image: url('../images/pictures/profile.jpg');
    background-size: 40vmin 60vmin;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 15vmin;
    transition: height .3s, width .3s, right .3s, background-position .3s, border-radius .3s;
}

.question[data-type="mainContent"] {
    margin: 10vmin 0 0 15vmin;
    width: 135vmin;
}

.answer[data-type="mainContent"] {
    margin: 3vmin 0 0 17vmin;
    width: 135vmin;
}

/* #endregion */

/* #region Q&A */

.question {
    display: block;
    font-size: 4vmin;
}

.answer {
    display: block;
    font-size: 3vmin;
}

.answer a {
    color: rgb(34, 18, 102);
    transition: color .5s;
}

.answer a:hover {
    color: rgb(16, 0, 90);
    transition: color .5s;
}

.answer a:visited {
    color: rgb(57, 31, 174);
    transition: color .5s;
}

.answer a:active {
    color: #101222;
    transition: color .5s;
}

/* #endregion */

/* #region Table */

[data-type="table"] {
    width: max-content;
    margin: auto;
    list-style: none;
    margin-top: 5vmin;
}

[data-type="table"] .header {
    color: #101222;
    text-align: center;
    font-size: 2vmin;
    font-weight: bolder;
    background-color: white;
    border-radius: 0 5vmin 0 5vmin;
    height: 3vmin;
    width: 20vmin;
    border: dashed .4vmin #101222;
    margin-top: 2vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    left: -5vmin;
}

[data-type="table"] .body {
    color: #101222;
    text-align: center;
    font-size: 3vmin;
    font-weight: bolder;
    background-color: white;
    border-radius: 0 5vmin 0 5vmin;
    height: 4vmin;
    width: 100vmin;
    border: dashed .4vmin #101222;
    transition: background-color .2s;
    padding-top: 1vmin;
}

[data-type="table"] .body:hover {
    background-color: #acacac;
    cursor: pointer;
    transition: background-color .2s;
}

[data-type="table"] .body::after {
    content: '';
    height: 4vmin;
    aspect-ratio: 1;
    background-image: url(../images/others/copy.png);
    background-size: cover;
    position: relative;
    float: right;
    top: -.25vmin;
    right: 2vmin;
    opacity: 0;
    transition: opacity .2s;
}

[data-type="table"] .body:hover::after {
    opacity: 1;
    transition: opacity .2s;
}

/* #endregion */

/* #region Directory  */

#directory {
    margin: auto;
    width: 150vmin;
    height: 85vmin;
    margin-top: 5vmin;
}

#directoryHeaders {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.directoryHeader {
    background-color: rgb(204, 204, 204);
    width: 15%;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5vmin 3vmin 0 0;
    margin-right: -1vmin;
    color: #101222;
    font-size: 2.5vmin;
    font-weight: bolder;
    text-align: center;
}

.directoryHeader:hover {
    cursor: pointer;
    background-color: #acacac;
}

.directoryHeader.active {
    background-color: #f1f1f1;
    z-index: 2;
}

#directoryBlock {
    background-color: #f1f1f1;
    height: 80vmin;
    border-radius: 0 3vmin 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#directoryListing {
    width: 30%;
    height: 100%;
    position: relative;
}

#directoryListing>div:not([id]) {
    height: 62.5%;
}

.directoryLine {
    width: 100%;
    height: 15%;
    background-color: rgb(204, 204, 204);
    border-bottom: .2vmin solid #101222;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.directoryLine:hover {
    cursor: pointer;
    background-color: #acacac;
}

.directoryLine.active {
    background-color: #f1f1f1;
}

.directoryLine span {
    color: #101222;
    font-size: 2vmin;
    font-weight: bolder;
}

.directoryLine p {
    font-size: 1.5vmin;
    font-weight: bold;
    margin: 0;
}

#directoryLogoPreview {
    width: 100%;
    aspect-ratio: 1;
    border: 1px dashed #101222;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#directoryContent {
    width: 80%;
    height: 100%;
    border-radius: 2vmin 0 0 2vmin;
}

.question[data-type="directoryDetails"],
.answer[data-type="directoryDetails"],
.question[data-type="directoryInfo"],
.answer[data-type="directoryInfo"] {
    color: #101222 !important;
    margin: 2vmin 0 0 4vmin;
}

/* #endregion */

/* #region Cookies */

.fade {
    opacity: 0;
    transition: opacity .25s ease-in;
}

#cookiesPopUpBg {
    background-color: #101222dc;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

#cookiesPopUpMessage {
    background-color: white;
    width: 50vmax;
    height: 20vmin;
    margin: auto;
    position: relative;
    top: 30vmin;
    border-radius: 0 5vmin 0 5vmin;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#cookiesAllow {
    margin-top: 5vmin;
    width: 15vmin;
    height: 3vmin;
    border-radius: 0 2vmin 0 2vmin;
    color: black;
}

#cookiesAllow:hover {
    cursor: pointer;
    background-color: #acacac;
}

/* #endregion */

/* #region FileSystem */

#FileSystem {
    margin: auto;
    width: 150vmin;
    height: 85vmin;
    margin-top: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

#FileListing {
    height: 100%;
    width: 25%;
    padding: 0;
    background-color: #acacac;
    list-style: none;
}

#FilePreview {
    height: 100%;
    width: 75%;
    background-color: #555;
}

.FileLine {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 0 2px #acacac inset;
    background-color: #555;
    transition: box-shadow .5s, background-color .5s;
}

.FileLine:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px #555 inset;
    background-color: #acacac;
    transition: box-shadow .5s, background-color .5s;
}

.FileLine.active {
    box-shadow: 0 0 0 2px #555 inset;
    background-color: white;
    color: black;
    transition: box-shadow .5s, color .5s, background-color .5s;
}

.FileIcon {
    height: 70%;
    aspect-ratio: 1;
    margin-right: 5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#FilePreviewNotice {
    margin: auto;
    width: 150vmin;
    margin-top: .5vmin;
    font-size: 2vmin;
    text-align: center;
}

/* #endregion */

/* #region EmailSender */

#EmailSender {
    margin: auto;
    width: 150vmin;
    height: 85vmin;
    margin-top: 5vmin;
    background-color: black;
    /* border-radius: 10vmin 0 10vmin 0; */
}

#EmailSender td,
th {
    background-color: white;
    color: black;
    font-size: 2.5vmin;
}

#EmailSender thead th {
    text-align: right;
    width: 10%;
    height: 4vmin;
}

#EmailSender thead td i {
    color: #555
}

[id^="input_"] {
    height: 85%;
}

[placeholder] {
    width: 99.7%;
    border: none;
    color: black;
    font-size: 2.5vmin;
}

[id^="input_"]:focus {
    border: none;
}

input::placeholder,
#EmailSender textarea::placeholder {
    font-style: italic;
}

#EmailSender textarea {
    vertical-align: top;
    height: 100%;
    resize: none;
}

[email-data="footer"] {
    height: 5%;
    background-image: linear-gradient(white, #888);
    text-align: center;
}

[email-data="footer"] button {
    height: 3vmin;
    width: 30vmin;
    margin: 0 10vmin;
    color: black;
}

[email-data="footer"] button:hover {
    cursor: pointer;
}

/* #endregion */

/* #region SM */

#screen {
    width: 92%;
    height: 100vmin;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.rope {
    width: 1vmin;
    height: 50vmin;
    background-color: white;
    margin: auto;
}

.faceWrapper{
    width: 25vmin;
    height: 25vmin;
    position: relative;
    top:-5vmin;
}

.faceWrapper:hover{
    cursor:pointer;
}

.contentBox {
    width:100%;
    aspect-ratio: 1;
    border-radius: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes Rotate{
    from{
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(180deg);
    }
}

.contentBox p {
    background-color:#555;
    width:100%;
    text-align: center;
    transform:scaleX(-1);
    border-radius: 5vmin;
    height:4vmin;
    padding-top:1vmin;
}

/* #endregion */

/* #region name */

/* #endregion */