/* #region CookiePopUp */
#cookiesPopUp {
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10vh;
    background-color: white;
    border-radius: 0 22px;
    text-align: center;
}

#cookiesPopUp.fade {
    opacity: 0;
    transition: opacity 1s;
}

#cookiesText {
    color: #101222 !important;
    font-size: larger;
    font-weight: bold;
}

#cookiesAccept {
    width: 7vw;
    height: 3vh;
    border-radius: 0 22px;
    border: none;
    background-color: #101222;
    font-size: large;
    font-weight: bold;
}

#cookiesAccept:hover {
    cursor: pointer;
    background-color: #1c2146;
}

#cookiesAccept:active {
    background-color: #14193f;
}

/* #endregion */

/* #region LanguageSwitch */

#language_preview {
    background-color: gainsboro;
    border-radius: 22px;
    height: 4vh;
    aspect-ratio: 1;
    position: fixed;
    right: 1vh;
    top: 1vh;
    overflow: hidden;
    transition: height .3s, border-radius .3s;
}

#language_preview.active {
    height: 20vh;
    border-radius: 22px 0 0 22px;
    transition: height .3s, border-radius .3s;
    overflow-y: auto;
}

/* width */
#language_preview.active::-webkit-scrollbar {
    width: 3px;
}

/* Track */
#language_preview.active::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#language_preview.active::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
#language_preview.active::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.language_option {
    height: 4vh;
    aspect-ratio: 1;
    border-radius: 100%;
    background-size: cover;
    margin: .4vh;
}

.language_option:hover {
    cursor: pointer;
}

.language_option:hover::after{
    content:'FR',
}

/* #endregion */

body {
    background-color: #101222;
}

* {
    font-family: Garamond;
    color: white;
    user-select: none;
}