/* #region ImageFrame */
#imageFrame {
    height: 60vh;
    width: 20vw;
    background-color: white;
    position: absolute;
    top: 0vh;
    float: right;
    right: 10vw;
    background-image: url(../media/pictures/profile.jpg);
    background-size: 20vw 60vh;
    border-radius: 0 125px;
    transition: height .3s, width .3s, right .3s, background-position .3s, border-radius .3s;
}

/*
#imageFrame:hover {
    right: 15vw;
    height: 30vh;
    width: 10vw;
    background-position: -5vw 0;
    border-radius: 0 75px;
    transition: height .3s, width .3s, right .3s, background-position .3s, border-radius .3s;
}
*/
/* #endregion */

/* #region Scroll */
#ruller {
    width: 3vw;
    height: 200vh;
    position: fixed;
    left: 0;
}

#ruller #up {
    background-color: white;
    width: 3vw;
    height: 95vh;
    position: relative;
    border-radius: 0 0 40px 0;
}

#ruller #down {
    background-color: white;
    width: 3vw;
    height: 95vh;
    position: relative;
    border-radius: 0 40px 0 0;
    top: 5vh;
}

#buttons {
    width: 3vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
}

.rullerButton {
    width: 5vh;
    aspect-ratio: 1;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #101222 !important;
    z-index: 4;
}

.rullerButton.active {
    color: white !important;
    font-size: xx-large;
    font-weight: bold;
}

/* #endregion */

/* #region Section 1 */

#mainTitle {
    display: block;
    margin: 2vw 0 5vw 10vw;
    font-size: 3em;
}

.question {
    display: block;
    margin: 5vh 0 0 10vw;
    font-size: 2.5em;
}

.answer {
    display: block;
    margin: 0 0 0 10vw;
    font-size: 2em;
    width: 55vw;
}

/* #endregion */

#content {
    top: 10vh;
    left:5vw;
    position: relative;
    z-index: 1;
}