/* #region ImageFrame */
#imageFrame {
    height: 60vh;
    width: 20vw;
    background-color: white;
    position: absolute;
    top: 0vh;
    float: right;
    right: 10vw;
    background-image: url(../media/pictures/profile.jpg);
    background-size: 20vw 60vh;
    border-radius: 0 125px;
    transition: height .3s, width .3s, right .3s, background-position .3s, border-radius .3s;
}

/*
#imageFrame:hover {
    right: 15vw;
    height: 30vh;
    width: 10vw;
    background-position: -5vw 0;
    border-radius: 0 75px;
    transition: height .3s, width .3s, right .3s, background-position .3s, border-radius .3s;
}
*/
/* #endregion */

/* #region Scroll */
#ruller {
    width: 3vw;
    height: 200vh;
    position: fixed;
    left: 0;
}

#ruller #up {
    background-color: white;
    width: 3vw;
    height: 95vh;
    position: relative;
    border-radius: 0 0 40px 0;
}

#ruller #down {
    background-color: white;
    width: 3vw;
    height: 95vh;
    position: relative;
    border-radius: 0 40px 0 0;
    top: 5vh;
}

#buttons {
    width: 3vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
}

.rullerButton {
    width: 5vh;
    aspect-ratio: 1;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #101222 !important;
    z-index: 4;
}

.rullerButton:hover {
    cursor: pointer;
}

.rullerButton.active {
    color: white !important;
    font-size: xx-large;
    font-weight: bold;
}

/* #endregion */

/* #region Section 1 */

#mainTitle {
    display: block;
    margin: 2vw 0 5vw 10vw;
    font-size: 3em;
}

.question {
    display: block;
    margin: 5vh 0 0 10vw;
    font-size: 2.5em;
}

.answer {
    display: block;
    margin: 0 0 0 10vw;
    font-size: 2em;
    width: 55vw;
}

/* #endregion */

/* #region Table*/

#bioTable {
    position: relative;
    top: -5vh;
}

.bioHeader {
    color: #101222;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    background-color: white;
    border-radius: 0 28px 0 28px;
    position: relative;
    margin: 0 0 8vh 10vw;
    height: 3vh;
    width: 10vw;
    border: dashed 3px #101222;
}

.bioRowValue {
    color: #101222;
    text-align: center;
    font-size: xx-large;
    width: 63.5vw;
    pointer-events: none;
}

.bioRow {
    padding-top: 1vh;
    background-color: white;
    position: relative;
    top: 6px;
    left: 2vw;
    width: 70vw;
    height: 6vh;
    border-radius: 0 28px 0 28px;
    transition: background-color ease-in-out .4s;
    border: dashed 3px #101222;
}

.bioRow:hover {
    cursor: pointer;
    background-color: #acacac;
    transition: background-color .2s;
}

.bioRow .copyToClipboard {
    height: 5.5vh;
    aspect-ratio: 1;
    float: right;
    position: relative;
    top: -4vh;
    right: .5vw;
    background-image: url(../media/others/copy.png);
    background-size: cover;
    opacity: 0;
    transition: opacity .2s;
    pointer-events: none;
}

.bioRow:hover .copyToClipboard {
    opacity: 1;
    transition: opacity .2s;
}

/* #endregion */

/* #region Section 3 */

#directory {
    width: 90vw;
    height: 80vh;
    position: relative;
    background-color: white;
    border-radius: 0 50px 50px 0;
}

#directoryHeaders {
    position: relative;
    z-index: 2;
    top: -5vh;
    height: 5vh;
    width: 100%;
    z-index: -1;
}

.directoryHeader {
    background-color: rgb(204, 204, 204);
    width: 15%;
    height: 100%;
    display: inline-block;
    border-radius: 0 25px 0 0;
    margin-right: -1vw;
    box-shadow: #101222 0 0 5px 5px;
    color: #101222;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

.directoryHeader:hover {
    cursor: pointer;
    background-color: #acacac;
}

.directoryHeader.active {
    z-index: 7;
    background-color: white;
}

#directoryListing {
    width: 20%;
    height: 100%;
    position: relative;
    top: -5vh;
    color: #101222;
}

.directoryLine {
    width: 100%;
    height: 10%;
    background-color: rgb(204, 204, 204);
    border-bottom: 2px solid #101222;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.directoryLine:hover {
    cursor: pointer;
    background-color: #acacac;
}

.directoryLine.active {
    background-color: white;
}

.directoryLine span{
    font-size: larger;
    font-weight: bolder;
    color:#101222;
}

.directoryLine p{
    font-size: large;
    font-weight: bold;
    margin:0;
}

#directoryContent {
    background-color: white;
    height: 70vh;
    width: 80%;
    position: relative;
    top: -85vh;
    left: 20%;
    border: 2px solid #101222;
    border-radius: 0 50px 50px 0;
    padding-top: 10vh;
}

/* #endregion */

#content {
    top: 10vh;
    left: 5vw;
    position: relative;
    z-index: 1;
}